In [2]:
import data_gen as dg
import pandas as pd

In [3]:
df = pd.read_csv("loan_portfolio.csv")

In [4]:
df.head()

  Loan_ID   Loan_Amount  Maturity_Years  Default_Probability
0  Loan_1  1.061810e+06               2             0.156484
1  Loan_2  1.926071e+06               2             0.103821
2  Loan_3  1.597991e+06               4             0.109319
3  Loan_4  1.397988e+06               8             0.091233
4  Loan_5  7.340280e+05               7             0.014830